.oscilloscope {
	width: 100%;
	height: 400px;
	max-height: 100%;
	margin: 0 auto;

	background-color: #f3f6fa;

    border: solid 1px #dce6f0;
    border-radius: 0.3rem;
}

.oscilloscope__wave {
	fill: none;

    stroke: #159957;
    stroke-width: 2px;
}